
.callout {
  margin: 20px 20px;
  mix-blend-mode: normal;
}

//This section moves the tip callout 
//to the right side of the page (deepened on the screen size)
@media only screen and (min-width: 1900px) {
  .callout[data-callout="tip"] {
    width: 50%; /* Set the width of the callout div to 40% */
    position: absolute; /* Position the callout div absolutely */
    left: 100%; /* Position the callout div to the right of the container */
    margin-left: 20px; /* Add some margin to the right of the callout div */
  }
}

@media only screen and (min-width: 900px) and (max-width: 1900px) {
  .callout[data-callout="tip"] > .callout-content {
    //transform to 2 columns
    column-count: 2;
    column-gap: 20px;
    height: 100%;
    
  }
}

@media only screen and (min-width: 900px) and (max-width: 1900px) {
  .callout[data-callout="tip"] {
    
  }
}


// This section removes the border radius from the link graph
// and always moves the sidebar to the bottom of the page to
// not colide with the tip callout 

#link-graph {
  border-radius: 0 10px 10px 10px;
}

.sidebar {
  position: relative;
  transform: none;
  border-radius: 4px;
  margin-top: 50px;
  max-width: 850px;
  margin: auto;
  border-radius: 0;
  border-top: 2px solid var(--background-secondary);
  justify-content: space-between;
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.graph {
  flex: 1;
  .graph-title-container {
    justify-content: flex-start;
  }
}

.toc {
  display: none;
}

/*************************************************************
                  Callout Icons
  This section adds icons to the callouts
**************************************************************/
                  
.callout[data-callout="read"] {
  --callout-color: 183, 50, 255;
  --callout-icon: lucide-book-open;
}

.callout[data-callout="secret"] {
  --callout-color: 100, 100, 100;
  --callout-icon: lucide-lock;
}
.callout[data-callout="stats"] {
  --callout-color: 255, 50, 50;
  --callout-icon: lucide-dice;
}

.callout[data-callout="seed"] {
  --callout-color: 183, 255, 50;
  --callout-icon: lucide-sprout;
}


/*************************************************************
                  Mermiad Scaling
  Always scale the mermaid graph to 100% of the page width
**************************************************************/

.mermaid svg {
  max-width: 100%;
  height: auto;
}

/*************************************************************
        add Popup Emojis to links
  - remove the standard svg icon from front
  - add the emoji after container
  - hide by default
  - scale up on hover 

  For refference:
        Meta: ⚙️
        Region: 🗺
        Settlement: 🏰
        Locality: 🏠
        NPC: 👤
        History: 📅
        Arc: 📖
        Plot: 📜
        Scene: 🎬
        Thing: 🔮
        Faction:
**************************************************************/
body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon]::before,
body.filetree-note-icon .filename[data-note-icon]::before,
body.links-note-icon .internal-link[data-note-icon]::before,
body.backlinks-note-icon .backlink[data-note-icon]::before {
  //default
  content: "";
  width: 0em;
  //no background image
  background-image: none;
}

/*undo for header
body.title-note-icon .cm-s-obsidian > header > h1::after {
  content: "";
}
*/

// hide emoji by default
body.filetree-note-icon .filename::after,
body.links-note-icon .internal-link::after,
body.backlinks-note-icon .backlink::after {
  background-image: none;
  transition: font-size 400ms ease;
  //scale down
  font-size: 0em;
}

// scale up the emoji on hover
body.filetree-note-icon .filename:hover::after,
body.links-note-icon .internal-link:hover::after,
body.backlinks-note-icon .backlink:hover::after {
  font-size: 1em;
}

//set the emoji for each note type
[data-note-icon="Meta"]::after {
  content: "⚙️" !important;
}

[data-note-icon="Locality"]::after {
  content: "🏠" !important;
}

[data-note-icon="NPC"]::after {
  content: "👤" !important;
}

[data-note-icon="History"]::after {
  content: "📅" !important;
}

[data-note-icon="Arc"]::after {
  content: "📖" !important;
}

[data-note-icon="Plot"]::after {
  content: "📜" !important;
}

[data-note-icon="Scene"]::after {
  content: "🎬" !important;
}

[data-note-icon="Thing"]::after {
  content: "🔮" !important;
}

[data-note-icon="Faction"]::after {
  content: "⚔️" !important;
}

[data-note-icon="Region"]::after {
  content: "🗺" !important;
}

[data-note-icon="Settlement"]::after {
  content: "🏰" !important;
}

[data-note-icon="Technical"]::after {
  content: "🔧" !important;
}

[data-note-icon="Psycho"]::after {
  content: "🧠" !important;
}


//center images in the editor on 
img[alt*="center"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*

section > h1 {
  text-align: center;
  margin: -2em 0px 32px 0px !important;
  animation: ticket 20s lineardirection;
}

*/

// emoji to the header, but smol
.cm-s-obsidian > header > h1::after {
  font-size: 0.5em;
}

/* remove the lower margin of a h1 if it is followed by a h2
h2 ~ h1 {
  margin-bottom: 0px;
}


// give header more space
header > h1 {
  text-align: center;
  margin: 50px 0 60px 0 !important;
  //set font size
  font-size: 3.5em !important;
}

*/

/*************************************************************
        H2
  give header more space
**************************************************************/
h2 {
  margin: 40px 0 20px 0 !important;
}




/*************************************************************
        EMBEDS
  (when you paste content from other notes)
**************************************************************/

// remove the left line from markdown-embed
.markdown-embed {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 0;
  padding: var(--embed-padding);
}




//align timestamps div to the center (not text-align)
.timestamps {
  display: flex;
  justify-content: center;
}
