body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

    //custom types are: Region, Settlement, Locality, NPC, SideNPC, Faction, History, Arc,Plot, Scene,Thing
    --note-icon-Meta: url(/img/gear_flat.svg);
    --note-icon-Region: url(/img/compass_flat.svg);
    --note-icon-Settlement: url(/img/castle_flat.svg);
    --note-icon-Locality: url(/img/house_flat.svg);
    --note-icon-NPC: url(/img/person_elf_flat_default.svg);
    --note-icon-SideNPC: url(/img/person_elf_flat_default.svg);
    --note-icon-Faction: url(/img/shield_flat.svg);
    --note-icon-History: url(/img/calendar_flat.svg);
    --note-icon-Arc: url(/img/open_book_flat.svg);
    --note-icon-Plot: url(/img/scroll_flat.svg);
    --note-icon-Scene: url(/img/clapper_board_flat.svg);
    --note-icon-Thing: url(/img/crystal_ball_flat.svg);
    --note-icon-fallback: url(/img/spiral_notepad_flat.svg);
}

// this is the code for the icons in the note list
body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon="Meta"]::before,
body.filetree-note-icon .filename[data-note-icon="3"]::before,
body.links-note-icon .internal-link[data-note-icon="3"]::before,
body.backlinks-note-icon .backlink[data-note-icon="3"]::before {
    background-image: var(--note-icon-Meta);
   ***/
}
