  /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
    
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
   ***/
/* Underline styles - details of technique here: https://nickymeuleman.netlify.app/blog/css-animated-wrapping-underline */
//only affect content cm-s-obsidian
.cm-s-obsidian a {
  background: 
    linear-gradient(to right,var(--link-color),var(--link-color)),
    linear-gradient(to right,var(--lite-accent),var(--lite-accent));
  background-size: 100% 0.07em, 0 0.2em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms ease;
  text-decoration: none;
  color: var(--text-normal);
}

//overwrite border to none
li {
  border-left: none;

}
li:nth-child(even) {
  border-left: none;
}
ul > li:nth-child(even)::before {
  color: var(--accent);
}

.cm-s-obsidian a:hover,
.cm-s-obsidian a:focus {
  background-size: 0 0.01em, 100% 0.2em;
  color: var(--text-normal);
}

//only data-callout="tip"
//only above 2200px width
@media only screen and (min-width: 1400px) {
  .callout[data-callout="tip"] {
    width: 50%; /* Set the width of the callout div to 40% */
    position: absolute; /* Position the callout div absolutely */
    left: 100%; /* Position the callout div to the right of the container */
    margin-left: 20px; /* Add some margin to the right of the callout div */
  }
}
@media only screen and (min-width: 800px) and (max-width: 1400px){
  .callout[data-callout="tip"] {
    width: 50%; /* Set the width of the callout div to 40% */
    float: right; /* Position the callout div absolutely */
  }
}


//this keeps the link-graph always down the page (this is copied from the default theme)
#link-graph {
    border-radius: 0 10px 10px 10px;
}
.sidebar {
    position: relative;
    transform: none;
    border-radius: 4px;
    margin-top: 50px;
    max-width: 700px;
    margin: auto;
    border-radius: 0;
    border-top: 2px solid var(--background-secondary);
    justify-content: space-between;
}

.sidebar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.graph {
    flex: 1;
    .graph-title-container {
        justify-content: flex-start;
    }
}

.toc {
    display: none;
}

.cm-s-obsidian > p:first-of-type:first-letter {
  float: left;
  font-family: "Old English Text MT", "Times New Roman", Times, serif;
  font-size: 5em;
  line-height: 0.5em;
  padding-bottom: 0.05em;
  padding-top: 0.2em;
  --text-selection: rgba(var(--red_x), 0.6);
}
.cm-s-obsidian > p:first-of-type {
  //minimal height for small paragraphs
  min-height: 6em;
}

.callout[data-callout="read"] {
  --callout-color: 183, 50, 255;
  --callout-icon: lucide-book-open;
}

.callout[data-callout="secret"] {
  --callout-color: 100, 100, 100;
  --callout-icon: lucide-lock;
}
.callout[data-callout="stats"] {
  --callout-color: 255, 50, 50;
  --callout-icon: lucide-dice;
}

.callout[data-callout="seed"] {
  --callout-color: 183, 255, 50;
  --callout-icon: lucide-sprout;
}
.mermaid svg {
  max-width: 100%;
  height: auto;
}

body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon]::before,
body.filetree-note-icon .filename[data-note-icon]::before,
body.links-note-icon .internal-link[data-note-icon]::before,
body.backlinks-note-icon .backlink[data-note-icon]::before {
  //default
  content: "";
  width: 0em;
  //no background image
  background-image: none;
}



//Meta: ⚙️
//Region: 🗺
//Settlement: 🏰
//Locality: 🏠
//NPC: 👤
//History: 📅
//Arc: 📖
//Plot: 📜
//Scene: 🎬
//Thing: 🔮
//Faction:



body.title-note-icon .cm-s-obsidian > header > h1::after,
body.filetree-note-icon .filename::after,
body.links-note-icon .internal-link::after,
body.backlinks-note-icon .backlink::after {
  background-image: none;
  transition: font-size 400ms ease;
  //scale down
  font-size: 0.0em;
}

// scale up the icon on hover
body.title-note-icon .cm-s-obsidian > header > h1:hover::after,
body.filetree-note-icon .filename:hover::after,
body.links-note-icon .internal-link:hover::after,
body.backlinks-note-icon .backlink:hover::after {
  font-size: 1em;
}

[data-note-icon="Meta"]::after {
  content: "⚙️";
}

[data-note-icon="Locality"]::after {
  content: "🏠";
}

[data-note-icon="NPC"]::after {
  content: "👤";
}

[data-note-icon="History"]::after {
  content: "📅";
}

[data-note-icon="Arc"]::after {
  content: "📖";
}

[data-note-icon="Plot"]::after {
  content: "📜";
}

[data-note-icon="Scene"]::after {
  content: "🎬";
}

[data-note-icon="Thing"]::after {
  content: "🔮";
}

[data-note-icon="Faction"]::after {
  content: "⚔️";
}

[data-note-icon="Region"]::after {
  content: "🗺";
}

[data-note-icon="Settlement"]::after {
  content: "🏰";
}


//undo for header
body.title-note-icon .cm-s-obsidian > header > h1::after{
  content: "";
}